@model Lab_3.Models.Book
@{
    ViewBag.Title = "Детали";
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Автор</dt>
        <dd>@Model.Author.ToString()</dd>
        <dt>Заголовок</dt>
        <dd>@Model.Title</dd>
        <dt>Описание</dt>
        <dd>@Model.Description</dd>
        <dt>Год публикации</dt>
        <dd>@Model.Year</dd>
        <dt>Количество страниц</dt>
        <dd>@Model.NumPages</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>