@model IEnumerable<LibraryCatalog.Models.Book>
@{
    ViewBag.Title = "Каталог книг";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Добавить книгу", "Create")
</p>
<hr />
<div class="container">
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-2">
            <a href="/Books/Details/@item.Id">
                <img style='width:150px; height:150px;' src="~/Images/book-icon.png" />
            </a>
        </div>
        <div class="col-md-8">
            <h3><a href="/Books/Details/@item.Id">@item.Title</a></h3>
            <p>Автор книги: <a href="/Authors/Details/@item.Author.Id">@item.Author.ToString()</a></p>
            <hr />
            <h4>Описание</h4>
            <h5>@item.Description</h5>
            <hr />
            <h6>Год написания: @item.Year</h6>
            <h6>Количество страниц: @item.NumPages</h6>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "text-warning " }) <br />
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <br />
}
</div>