@model IEnumerable<Lab_3.Models.Book>
@{
    ViewBag.Title = "Каталог книг";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Добавить книгу", "Create")
</p>
<table class="table">
    <tr>
        <th>Автор</th>
        <th>Заголовок</th>
        <th>Описание</th>
        <th>Год публикации</th>
        <th>Количество страниц</th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Author.Surname)</td>
        <td>@Html.DisplayFor(modelItem => item.Title)</td>
        <td>@Html.DisplayFor(modelItem => item.Description)</td>
        <td>@Html.DisplayFor(modelItem => item.Year)</td>
        <td>@Html.DisplayFor(modelItem => item.NumPages)</td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детали", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
    }
</table>