<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" style="background-color:#337ab7; border-color:white;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:white;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Каталог библиотеки", "Index", "Books", new { area = "" }, new { @class = "navbar-brand", style = "color:white" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Книги", "Index", "Books", null, new { style = "color:white" })</li>
                    <li>@Html.ActionLink("Авторы", "Index", "Authors", null, new { style = "color:white" })</li>
                    <li>
                        <form asp-controller="Books" asp-action="Index" class="form-inline" style="margin-top:8px">
                            <input type="text" name="search" class="form-control mr-sm-2">
                            <input type="submit" value="Поиск" class="btn btn-outline-success my-2 my-sm-0" />
                        </form>
                    </li>
                </ul>  
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Каталог библиотеки. Copyright &copy; @DateTime.Now.Year Шуманский Дима.</p>
            <p>Все права защищены.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>