@model Lab_3.Models.Author
@{
    ViewBag.Title = "Детали";
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Фамилия</dt>
        <dd>@Html.DisplayFor(model => model.Surname)</dd>
        <dt>Имя</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>Отчество</dt>
        <dd>@Html.DisplayFor(model => model.Patronymic)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Список книг автора", "Index", "Books", new { search = @Model.Surname }, new { @class = "text-warning " })  <br />
</p>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>