@model IEnumerable<Lab_3.Models.Author>
@{
    ViewBag.Title = "Список авторов";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Добавить автора", "Create")
</p>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-10">
                @Html.ActionLink(@item.Surname + " " + @item.Name + " " + @item.Patronymic, "Details", new { id = item.Id }) <br />
                @Html.ActionLink("Список книг автора", "Index", "Books", new { search = item.Surname }, new { @class = "text-warning " }) <br />
            </div>
            <div class="col-sm-2">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "text-warning " }) <br />
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <br />
    }
</div>